body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6367 {
  position:absolute;
  left:150px;
  top:90px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6368 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6369 {
  position:absolute;
  left:150px;
  top:238px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6370 {
  position:absolute;
  left:2px;
  top:20px;
  width:125px;
  word-wrap:break-word;
}
#u6371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:97px;
}
#u6371 {
  position:absolute;
  left:134px;
  top:377px;
  width:161px;
  height:97px;
  font-size:15px;
}
#u6372 {
  position:absolute;
  left:2px;
  top:30px;
  width:157px;
  word-wrap:break-word;
}
#u6373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6373 {
  position:absolute;
  left:340px;
  top:390px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6374 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6375 {
  position:absolute;
  left:236px;
  top:506px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6376 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6377 {
  position:absolute;
  left:150px;
  top:569px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6378 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u6379 {
  position:absolute;
  left:215px;
  top:167px;
  width:0px;
  height:0px;
}
#u6379_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u6379_seg1 {
  position:absolute;
  left:-10px;
  top:57px;
  width:20px;
  height:21px;
}
#u6380 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6381 {
  position:absolute;
  left:215px;
  top:315px;
  width:0px;
  height:0px;
}
#u6381_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u6381_seg1 {
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:21px;
}
#u6382 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6383 {
  position:absolute;
  left:215px;
  top:474px;
  width:0px;
  height:0px;
}
#u6383_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:99px;
}
#u6383_seg1 {
  position:absolute;
  left:-10px;
  top:81px;
  width:20px;
  height:21px;
}
#u6384 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6385 {
  position:absolute;
  left:295px;
  top:426px;
  width:0px;
  height:0px;
}
#u6385_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u6385_seg1 {
  position:absolute;
  left:109px;
  top:-10px;
  width:21px;
  height:20px;
}
#u6386 {
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6387 {
  position:absolute;
  left:179px;
  top:1239px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6388 {
  position:absolute;
  left:1338px;
  top:318px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:97px;
}
#u6389 {
  position:absolute;
  left:748px;
  top:237px;
  width:161px;
  height:97px;
  font-size:15px;
}
#u6390 {
  position:absolute;
  left:2px;
  top:40px;
  width:157px;
  word-wrap:break-word;
}
#u6391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6391 {
  position:absolute;
  left:954px;
  top:250px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6392 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6393 {
  position:absolute;
  left:850px;
  top:366px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6394 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6395 {
  position:absolute;
  left:764px;
  top:429px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6396 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u6397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6397 {
  position:absolute;
  left:1032px;
  top:247px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6398 {
  position:absolute;
  left:2px;
  top:20px;
  width:125px;
  word-wrap:break-word;
}
#u6399 {
  position:absolute;
  left:829px;
  top:334px;
  width:0px;
  height:0px;
}
#u6399_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:99px;
}
#u6399_seg1 {
  position:absolute;
  left:-10px;
  top:81px;
  width:20px;
  height:21px;
}
#u6400 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6401 {
  position:absolute;
  left:909px;
  top:286px;
  width:0px;
  height:0px;
}
#u6401_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u6401_seg1 {
  position:absolute;
  left:109px;
  top:-10px;
  width:21px;
  height:20px;
}
#u6402 {
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6403 {
  position:absolute;
  left:187px;
  top:39px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6404 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6405 {
  position:absolute;
  left:419px;
  top:387px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6406 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6407 {
  position:absolute;
  left:791px;
  top:39px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6408 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6409 {
  position:absolute;
  left:763px;
  top:90px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6410 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6411 {
  position:absolute;
  left:828px;
  top:167px;
  width:0px;
  height:0px;
}
#u6411_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u6411_seg1 {
  position:absolute;
  left:-10px;
  top:57px;
  width:20px;
  height:21px;
}
#u6412 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6413 {
  position:absolute;
  left:215px;
  top:645px;
  width:0px;
  height:0px;
}
#u6413_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:99px;
}
#u6413_seg1 {
  position:absolute;
  left:-10px;
  top:81px;
  width:20px;
  height:21px;
}
#u6414 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6415 {
  position:absolute;
  left:150px;
  top:738px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6416 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6417 {
  position:absolute;
  left:419px;
  top:738px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6418 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6419 {
  position:absolute;
  left:215px;
  top:646px;
  width:0px;
  height:0px;
}
#u6419_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u6419_seg1 {
  position:absolute;
  left:-4px;
  top:29px;
  width:277px;
  height:8px;
}
#u6419_seg2 {
  position:absolute;
  left:265px;
  top:29px;
  width:8px;
  height:63px;
}
#u6419_seg3 {
  position:absolute;
  left:259px;
  top:78px;
  width:20px;
  height:21px;
}
#u6420 {
  position:absolute;
  left:98px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:97px;
}
#u6421 {
  position:absolute;
  left:134px;
  top:889px;
  width:161px;
  height:97px;
  font-size:15px;
}
#u6422 {
  position:absolute;
  left:2px;
  top:30px;
  width:157px;
  word-wrap:break-word;
}
#u6423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6423 {
  position:absolute;
  left:236px;
  top:1025px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6424 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6425 {
  position:absolute;
  left:150px;
  top:1099px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6426 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6427 {
  position:absolute;
  left:419px;
  top:899px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6428 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6429 {
  position:absolute;
  left:215px;
  top:815px;
  width:0px;
  height:0px;
}
#u6429_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u6429_seg1 {
  position:absolute;
  left:-10px;
  top:60px;
  width:20px;
  height:21px;
}
#u6430 {
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6431 {
  position:absolute;
  left:295px;
  top:938px;
  width:0px;
  height:0px;
}
#u6431_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:128px;
  height:8px;
}
#u6431_seg1 {
  position:absolute;
  left:110px;
  top:-10px;
  width:21px;
  height:20px;
}
#u6432 {
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6433 {
  position:absolute;
  left:215px;
  top:986px;
  width:0px;
  height:0px;
}
#u6433_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:117px;
}
#u6433_seg1 {
  position:absolute;
  left:-10px;
  top:99px;
  width:20px;
  height:21px;
}
#u6434 {
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6435 {
  position:absolute;
  left:340px;
  top:909px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6436 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
