body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2389px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u928 {
  position:absolute;
  left:21px;
  top:77px;
  width:375px;
  height:1103px;
}
#u929 {
  position:absolute;
  left:2px;
  top:544px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(57, 58, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u931 {
  position:absolute;
  left:22px;
  top:20px;
  width:373px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u932 {
  position:absolute;
  left:2px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u933 {
  position:absolute;
  left:21px;
  top:39px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u934 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u935 {
  position:absolute;
  left:36px;
  top:52px;
  width:10px;
  height:18px;
}
#u936 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u937 {
  position:absolute;
  left:49px;
  top:53px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:5px;
}
#u939 {
  position:absolute;
  left:363px;
  top:59px;
  width:18px;
  height:5px;
}
#u940 {
  position:absolute;
  left:2px;
  top:-6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:272px;
}
#u941 {
  position:absolute;
  left:22px;
  top:317px;
  width:373px;
  height:272px;
}
#u942 {
  position:absolute;
  left:2px;
  top:128px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:21px;
  top:316px;
  width:375px;
  height:35px;
}
#u944 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u945 {
  position:absolute;
  left:23px;
  top:326px;
  width:93px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u947 {
  position:absolute;
  left:116px;
  top:326px;
  width:93px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u949 {
  position:absolute;
  left:209px;
  top:326px;
  width:93px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u951 {
  position:absolute;
  left:302px;
  top:326px;
  width:93px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:83px;
  height:5px;
}
#u953 {
  position:absolute;
  left:30px;
  top:348px;
  width:80px;
  height:2px;
}
#u954 {
  position:absolute;
  left:2px;
  top:-7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  position:absolute;
  left:21px;
  top:225px;
  width:375px;
  height:92px;
}
#u956 {
  position:absolute;
  left:2px;
  top:38px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u957 {
  position:absolute;
  left:194px;
  top:266px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u959 {
  position:absolute;
  left:235px;
  top:266px;
  width:50px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u961 {
  position:absolute;
  left:295px;
  top:266px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u963 {
  position:absolute;
  left:336px;
  top:266px;
  width:50px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u965 {
  position:absolute;
  left:194px;
  top:292px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u967 {
  position:absolute;
  left:235px;
  top:292px;
  width:50px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u969 {
  position:absolute;
  left:295px;
  top:292px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u971 {
  position:absolute;
  left:336px;
  top:292px;
  width:50px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#F55151;
  text-align:center;
}
#u973 {
  position:absolute;
  left:36px;
  top:266px;
  width:145px;
  height:41px;
  font-size:22px;
  color:#F55151;
  text-align:center;
}
#u974 {
  position:absolute;
  left:0px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u975 {
  position:absolute;
  left:20px;
  top:236px;
  width:145px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u977 {
  position:absolute;
  left:139px;
  top:238px;
  width:16px;
  height:16px;
}
#u978 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u979 {
  position:absolute;
  left:127px;
  top:281px;
  width:33px;
  height:16px;
  font-size:14px;
  color:#949494;
  text-align:center;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u981 {
  position:absolute;
  left:295px;
  top:236px;
  width:101px;
  height:20px;
  font-size:12px;
  color:#BCBCBC;
}
#u982 {
  position:absolute;
  left:2px;
  top:3px;
  width:97px;
  word-wrap:break-word;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u983 {
  position:absolute;
  left:21px;
  top:1131px;
  width:375px;
  height:49px;
}
#u984 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u986 {
  position:absolute;
  left:312px;
  top:1162px;
  width:75px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u988 {
  position:absolute;
  left:336px;
  top:1136px;
  width:24px;
  height:24px;
}
#u989 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#6B6B6B;
}
#u990 {
  position:absolute;
  left:21px;
  top:652px;
  width:375px;
  height:38px;
  font-size:18px;
  color:#6B6B6B;
}
#u991 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u992 {
  position:absolute;
  left:36px;
  top:663px;
  width:115px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u994 {
  position:absolute;
  left:151px;
  top:663px;
  width:115px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u996 {
  position:absolute;
  left:266px;
  top:663px;
  width:115px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:5px;
}
#u998 {
  position:absolute;
  left:51px;
  top:687px;
  width:85px;
  height:2px;
}
#u999 {
  position:absolute;
  left:2px;
  top:-7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:402px;
}
#u1000 {
  position:absolute;
  left:21px;
  top:689px;
  width:375px;
  height:402px;
  font-size:18px;
  color:#6B6B6B;
}
#u1001 {
  position:absolute;
  left:2px;
  top:193px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u1003 {
  position:absolute;
  left:28px;
  top:1162px;
  width:75px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1005 {
  position:absolute;
  left:55px;
  top:1140px;
  width:20px;
  height:20px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u1008 {
  position:absolute;
  left:123px;
  top:1162px;
  width:75px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1010 {
  position:absolute;
  left:151px;
  top:1140px;
  width:20px;
  height:20px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u1013 {
  position:absolute;
  left:217px;
  top:1162px;
  width:75px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1015 {
  position:absolute;
  left:245px;
  top:1140px;
  width:20px;
  height:20px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.137254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1017 {
  position:absolute;
  left:21px;
  top:1131px;
  width:90px;
  height:49px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1019 {
  position:absolute;
  left:21px;
  top:165px;
  width:375px;
  height:51px;
  color:#FFFFFF;
}
#u1020 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1021 {
  position:absolute;
  left:206px;
  top:178px;
  width:1px;
  height:27px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1023 {
  position:absolute;
  left:365px;
  top:86px;
  width:16px;
  height:16px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#6B6B6B;
}
#u1025 {
  position:absolute;
  left:21px;
  top:82px;
  width:375px;
  height:35px;
  font-size:18px;
  color:#6B6B6B;
}
#u1026 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1027 {
  position:absolute;
  left:33px;
  top:91px;
  width:365px;
  height:16px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1029 {
  position:absolute;
  left:367px;
  top:91px;
  width:16px;
  height:16px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#6B6B6B;
}
#u1031 {
  position:absolute;
  left:268px;
  top:183px;
  width:85px;
  height:17px;
  font-size:15px;
  color:#6B6B6B;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1033 {
  position:absolute;
  left:21px;
  top:116px;
  width:375px;
  height:50px;
  color:#FFFFFF;
}
#u1034 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1035 {
  position:absolute;
  left:52px;
  top:126px;
  width:30px;
  height:30px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#6B6B6B;
}
#u1037 {
  position:absolute;
  left:99px;
  top:132px;
  width:99px;
  height:17px;
  font-size:15px;
  color:#6B6B6B;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#6B6B6B;
}
#u1039 {
  position:absolute;
  left:264px;
  top:132px;
  width:99px;
  height:17px;
  font-size:15px;
  color:#6B6B6B;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1041 {
  position:absolute;
  left:30px;
  top:601px;
  width:296px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u1042 {
  position:absolute;
  left:2px;
  top:12px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#515151;
}
#u1043 {
  position:absolute;
  left:331px;
  top:601px;
  width:59px;
  height:40px;
  font-size:16px;
  color:#515151;
}
#u1044 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u1045 {
  position:absolute;
  left:39px;
  top:613px;
  width:115px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1047 {
  position:absolute;
  left:156px;
  top:613px;
  width:140px;
  height:16px;
  font-size:13px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#6B6B6B;
}
#u1049 {
  position:absolute;
  left:48px;
  top:183px;
  width:127px;
  height:17px;
  font-size:15px;
  color:#6B6B6B;
}
#u1050 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1052 {
  position:absolute;
  left:447px;
  top:91px;
  width:254px;
  height:41px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1054 {
  position:absolute;
  left:470px;
  top:98px;
  width:207px;
  height:31px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1055 {
  position:absolute;
  left:0px;
  top:6px;
  width:207px;
  word-wrap:break-word;
}
#u1056 {
  position:absolute;
  left:524px;
  top:1549px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u1057 {
  position:absolute;
  left:63px;
  top:428px;
  width:298px;
  height:1px;
  color:#0099FF;
}
#u1058 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u1059 {
  position:absolute;
  left:264px;
  top:409px;
  width:97px;
  height:16px;
  color:#0099FF;
  text-align:right;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1061 {
  position:absolute;
  left:447px;
  top:183px;
  width:333px;
  height:211px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:98px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
#u1063 {
  position:absolute;
  left:447px;
  top:342px;
  width:333px;
  height:1px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u1065 {
  position:absolute;
  left:613px;
  top:345px;
  width:1px;
  height:44px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0099FF;
  text-align:center;
}
#u1067 {
  position:absolute;
  left:494px;
  top:356px;
  width:70px;
  height:22px;
  font-size:18px;
  color:#0099FF;
  text-align:center;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0099FF;
  text-align:center;
}
#u1069 {
  position:absolute;
  left:661px;
  top:357px;
  width:70px;
  height:22px;
  font-size:18px;
  color:#0099FF;
  text-align:center;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1071 {
  position:absolute;
  left:463px;
  top:220px;
  width:302px;
  height:55px;
  font-size:18px;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1073 {
  position:absolute;
  left:470px;
  top:294px;
  width:278px;
  height:19px;
  font-size:16px;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u1075 {
  position:absolute;
  left:2289px;
  top:284px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:1360px;
}
#u1076 {
  position:absolute;
  left:1376px;
  top:183px;
  width:397px;
  height:1360px;
  font-size:17px;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#6B6B6B;
}
#u1079 {
  position:absolute;
  left:21px;
  top:690px;
  width:375px;
  height:402px;
  font-size:18px;
  color:#6B6B6B;
}
#u1080 {
  position:absolute;
  left:2px;
  top:193px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:103px;
}
#u1081 {
  position:absolute;
  left:208px;
  top:970px;
  width:1px;
  height:102px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:43px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#F55151;
  text-align:center;
}
#u1083 {
  position:absolute;
  left:36px;
  top:970px;
  width:173px;
  height:22px;
  font-size:18px;
  color:#F55151;
  text-align:center;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00CC66;
  text-align:center;
}
#u1085 {
  position:absolute;
  left:209px;
  top:970px;
  width:173px;
  height:22px;
  font-size:18px;
  color:#00CC66;
  text-align:center;
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u1087 {
  position:absolute;
  left:36px;
  top:954px;
  width:345px;
  height:1px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#F55151;
  text-align:center;
}
#u1089 {
  position:absolute;
  left:36px;
  top:1007px;
  width:173px;
  height:28px;
  font-size:24px;
  color:#F55151;
  text-align:center;
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#00CC66;
  text-align:center;
}
#u1091 {
  position:absolute;
  left:209px;
  top:1007px;
  width:173px;
  height:28px;
  font-size:24px;
  color:#00CC66;
  text-align:center;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u1093 {
  position:absolute;
  left:180px;
  top:1013px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u1095 {
  position:absolute;
  left:367px;
  top:1013px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#F55151;
  text-align:center;
}
#u1097 {
  position:absolute;
  left:36px;
  top:1044px;
  width:173px;
  height:28px;
  font-size:24px;
  color:#F55151;
  text-align:center;
}
#u1098 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#00CC66;
  text-align:center;
}
#u1099 {
  position:absolute;
  left:209px;
  top:1044px;
  width:173px;
  height:28px;
  font-size:24px;
  color:#00CC66;
  text-align:center;
}
#u1100 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u1101 {
  position:absolute;
  left:180px;
  top:1050px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u1103 {
  position:absolute;
  left:367px;
  top:1050px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u1104 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u1105 {
  position:absolute;
  left:73px;
  top:904px;
  width:100px;
  height:35px;
  color:#949494;
}
#u1106 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u1107 {
  position:absolute;
  left:246px;
  top:904px;
  width:100px;
  height:35px;
  color:#949494;
}
#u1108 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u1109 {
  position:absolute;
  left:121px;
  top:711px;
  width:170px;
  height:170px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:77px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u1111 {
  position:absolute;
  left:126px;
  top:711px;
  width:170px;
  height:170px;
}
#u1112 {
  position:absolute;
  left:77px;
  top:74px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1113 {
  position:absolute;
  left:142px;
  top:784px;
  width:64px;
  height:28px;
  color:#FFFFFF;
}
#u1114 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u1115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u1115 {
  position:absolute;
  left:212px;
  top:784px;
  width:65px;
  height:28px;
  color:#FFFFFF;
  text-align:right;
}
#u1116 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u1117 {
  position:absolute;
  left:102px;
  top:798px;
  width:20px;
  height:1px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F55151;
  text-align:center;
}
#u1119 {
  position:absolute;
  left:43px;
  top:791px;
  width:53px;
  height:15px;
  font-size:12px;
  color:#F55151;
  text-align:center;
}
#u1120 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u1121 {
  position:absolute;
  left:295px;
  top:798px;
  width:20px;
  height:1px;
}
#u1122 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00CC66;
  text-align:center;
}
#u1123 {
  position:absolute;
  left:319px;
  top:791px;
  width:55px;
  height:15px;
  font-size:12px;
  color:#00CC66;
  text-align:center;
}
#u1124 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1125 {
  position:absolute;
  left:306px;
  top:614px;
  width:9px;
  height:15px;
}
#u1126 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:1860px;
}
#u1127 {
  position:absolute;
  left:1797px;
  top:183px;
  width:397px;
  height:1860px;
  font-size:17px;
}
#u1128 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
#u1129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1129 {
  position:absolute;
  left:833px;
  top:140px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1130 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:1860px;
}
#u1131 {
  position:absolute;
  left:833px;
  top:183px;
  width:397px;
  height:1860px;
  font-size:17px;
}
#u1132 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
