body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:1401px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4660 {
  position:absolute;
  left:21px;
  top:20px;
  width:385px;
  height:1401px;
  font-size:20px;
}
#u4661 {
  position:absolute;
  left:2px;
  top:692px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4662 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:20px;
  background:inherit;
  background-color:rgba(57, 58, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u4663 {
  position:absolute;
  left:22px;
  top:20px;
  width:383px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u4664 {
  position:absolute;
  left:2px;
  top:4px;
  width:379px;
  word-wrap:break-word;
}
#u4665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:44px;
}
#u4665 {
  position:absolute;
  left:21px;
  top:39px;
  width:385px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u4666 {
  position:absolute;
  left:2px;
  top:11px;
  width:381px;
  word-wrap:break-word;
}
#u4667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u4667 {
  position:absolute;
  left:36px;
  top:52px;
  width:10px;
  height:18px;
}
#u4668 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4669 {
  position:absolute;
  left:50px;
  top:53px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u4670 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:5px;
}
#u4671 {
  position:absolute;
  left:372px;
  top:59px;
  width:18px;
  height:5px;
}
#u4672 {
  position:absolute;
  left:2px;
  top:-6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:535px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:16px;
}
#u4673 {
  position:absolute;
  left:30px;
  top:96px;
  width:370px;
  height:535px;
  line-height:16px;
}
#u4674 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u4675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4676 {
  position:absolute;
  left:30px;
  top:621px;
  width:138px;
  height:27px;
  font-size:12px;
}
#u4677 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u4678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4678 {
  position:absolute;
  left:167px;
  top:621px;
  width:114px;
  height:27px;
  font-size:12px;
}
#u4679 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u4680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4680 {
  position:absolute;
  left:280px;
  top:621px;
  width:114px;
  height:27px;
  font-size:12px;
}
#u4681 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u4682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4682 {
  position:absolute;
  left:30px;
  top:647px;
  width:138px;
  height:27px;
  font-size:12px;
}
#u4683 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u4684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4684 {
  position:absolute;
  left:30px;
  top:673px;
  width:138px;
  height:27px;
  font-size:12px;
}
#u4685 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u4686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4686 {
  position:absolute;
  left:30px;
  top:699px;
  width:138px;
  height:27px;
  font-size:12px;
}
#u4687 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u4688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4688 {
  position:absolute;
  left:30px;
  top:725px;
  width:138px;
  height:27px;
  font-size:12px;
}
#u4689 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u4690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4690 {
  position:absolute;
  left:167px;
  top:647px;
  width:114px;
  height:105px;
  font-size:12px;
}
#u4691 {
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u4692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4692 {
  position:absolute;
  left:280px;
  top:647px;
  width:114px;
  height:27px;
  font-size:12px;
}
#u4693 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u4694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4694 {
  position:absolute;
  left:280px;
  top:673px;
  width:114px;
  height:27px;
  font-size:12px;
}
#u4695 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u4696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4696 {
  position:absolute;
  left:280px;
  top:699px;
  width:114px;
  height:27px;
  font-size:12px;
}
#u4697 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u4698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4698 {
  position:absolute;
  left:280px;
  top:725px;
  width:114px;
  height:27px;
  font-size:12px;
}
#u4699 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u4700 {
  position:absolute;
  left:164px;
  top:1463px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:592px;
}
#u4701 {
  position:absolute;
  left:30px;
  top:772px;
  width:360px;
  height:592px;
  line-height:16px;
}
#u4702 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u4703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:771px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4703 {
  position:absolute;
  left:469px;
  top:71px;
  width:827px;
  height:771px;
}
#u4704 {
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  word-wrap:break-word;
}
#u4705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4705 {
  position:absolute;
  left:469px;
  top:38px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4706 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
