body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1617px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6197 {
  position:absolute;
  left:211px;
  top:127px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6198 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6199 {
  position:absolute;
  left:211px;
  top:554px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6200 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:97px;
}
#u6201 {
  position:absolute;
  left:195px;
  top:301px;
  width:161px;
  height:97px;
  font-size:15px;
}
#u6202 {
  position:absolute;
  left:2px;
  top:40px;
  width:157px;
  word-wrap:break-word;
}
#u6203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6203 {
  position:absolute;
  left:290px;
  top:460px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u6204 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6205 {
  position:absolute;
  left:809px;
  top:311px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6206 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6207 {
  position:absolute;
  left:410px;
  top:319px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6208 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6209 {
  position:absolute;
  left:1320px;
  top:311px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6210 {
  position:absolute;
  left:2px;
  top:20px;
  width:125px;
  word-wrap:break-word;
}
#u6211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6211 {
  position:absolute;
  left:892px;
  top:410px;
  width:18px;
  height:117px;
  font-size:16px;
}
#u6212 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u6213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6213 {
  position:absolute;
  left:809px;
  top:554px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6214 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6215 {
  position:absolute;
  left:809px;
  top:866px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6216 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6217 {
  position:absolute;
  left:874px;
  top:388px;
  width:0px;
  height:0px;
}
#u6217_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:170px;
}
#u6217_seg1 {
  position:absolute;
  left:-10px;
  top:152px;
  width:20px;
  height:21px;
}
#u6218 {
  position:absolute;
  left:-50px;
  top:75px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6219 {
  position:absolute;
  left:276px;
  top:398px;
  width:0px;
  height:0px;
}
#u6219_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:160px;
}
#u6219_seg1 {
  position:absolute;
  left:-10px;
  top:142px;
  width:20px;
  height:21px;
}
#u6220 {
  position:absolute;
  left:-50px;
  top:70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6221 {
  position:absolute;
  left:276px;
  top:204px;
  width:0px;
  height:0px;
}
#u6221_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u6221_seg1 {
  position:absolute;
  left:-10px;
  top:83px;
  width:20px;
  height:21px;
}
#u6222 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6223 {
  position:absolute;
  left:211px;
  top:868px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6224 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u6225 {
  position:absolute;
  left:211px;
  top:1186px;
  width:129px;
  height:77px;
  font-size:15px;
}
#u6226 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u6227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:87px;
}
#u6227 {
  position:absolute;
  left:203px;
  top:697px;
  width:145px;
  height:87px;
  font-size:15px;
}
#u6228 {
  position:absolute;
  left:2px;
  top:25px;
  width:141px;
  word-wrap:break-word;
}
#u6229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6229 {
  position:absolute;
  left:356px;
  top:661px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u6230 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6231 {
  position:absolute;
  left:305px;
  top:811px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6232 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6233 {
  position:absolute;
  left:348px;
  top:741px;
  width:0px;
  height:0px;
}
#u6233_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u6233_seg1 {
  position:absolute;
  left:32px;
  top:-152px;
  width:8px;
  height:156px;
}
#u6233_seg2 {
  position:absolute;
  left:-8px;
  top:-152px;
  width:48px;
  height:8px;
}
#u6233_seg3 {
  position:absolute;
  left:-15px;
  top:-158px;
  width:21px;
  height:20px;
}
#u6234 {
  position:absolute;
  left:-14px;
  top:-86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6235 {
  position:absolute;
  left:276px;
  top:631px;
  width:0px;
  height:0px;
}
#u6235_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u6235_seg1 {
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:21px;
}
#u6236 {
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6237 {
  position:absolute;
  left:276px;
  top:784px;
  width:0px;
  height:0px;
}
#u6237_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u6237_seg1 {
  position:absolute;
  left:-10px;
  top:70px;
  width:20px;
  height:21px;
}
#u6238 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:87px;
}
#u6239 {
  position:absolute;
  left:203px;
  top:1013px;
  width:145px;
  height:87px;
  font-size:15px;
}
#u6240 {
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u6241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6241 {
  position:absolute;
  left:356px;
  top:977px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u6242 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6243 {
  position:absolute;
  left:305px;
  top:1127px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6244 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6245 {
  position:absolute;
  left:348px;
  top:1057px;
  width:0px;
  height:0px;
}
#u6245_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u6245_seg1 {
  position:absolute;
  left:38px;
  top:-154px;
  width:8px;
  height:158px;
}
#u6245_seg2 {
  position:absolute;
  left:-8px;
  top:-154px;
  width:54px;
  height:8px;
}
#u6245_seg3 {
  position:absolute;
  left:-15px;
  top:-160px;
  width:21px;
  height:20px;
}
#u6246 {
  position:absolute;
  left:-8px;
  top:-87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6247 {
  position:absolute;
  left:276px;
  top:1100px;
  width:0px;
  height:0px;
}
#u6247_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u6247_seg1 {
  position:absolute;
  left:-10px;
  top:72px;
  width:20px;
  height:21px;
}
#u6248 {
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6249 {
  position:absolute;
  left:276px;
  top:945px;
  width:0px;
  height:0px;
}
#u6249_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u6249_seg1 {
  position:absolute;
  left:-10px;
  top:54px;
  width:20px;
  height:21px;
}
#u6250 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:104px;
}
#u6251 {
  position:absolute;
  left:189px;
  top:1315px;
  width:173px;
  height:104px;
  font-size:14px;
}
#u6252 {
  position:absolute;
  left:2px;
  top:43px;
  width:169px;
  word-wrap:break-word;
}
#u6253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6253 {
  position:absolute;
  left:356px;
  top:1296px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u6254 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6255 {
  position:absolute;
  left:410px;
  top:1421px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6256 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6257 {
  position:absolute;
  left:362px;
  top:1367px;
  width:0px;
  height:0px;
}
#u6257_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u6257_seg1 {
  position:absolute;
  left:24px;
  top:-146px;
  width:8px;
  height:150px;
}
#u6257_seg2 {
  position:absolute;
  left:-22px;
  top:-146px;
  width:54px;
  height:8px;
}
#u6257_seg3 {
  position:absolute;
  left:-29px;
  top:-152px;
  width:21px;
  height:20px;
}
#u6258 {
  position:absolute;
  left:-22px;
  top:-90px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6259 {
  position:absolute;
  left:276px;
  top:1263px;
  width:0px;
  height:0px;
}
#u6259_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u6259_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:21px;
}
#u6260 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:87px;
}
#u6261 {
  position:absolute;
  left:1051px;
  top:306px;
  width:145px;
  height:87px;
  font-size:15px;
}
#u6262 {
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u6263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6263 {
  position:absolute;
  left:991px;
  top:272px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u6264 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6265 {
  position:absolute;
  left:1245px;
  top:320px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6266 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:97px;
}
#u6267 {
  position:absolute;
  left:497px;
  top:301px;
  width:161px;
  height:97px;
  font-size:15px;
}
#u6268 {
  position:absolute;
  left:2px;
  top:30px;
  width:157px;
  word-wrap:break-word;
}
#u6269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6269 {
  position:absolute;
  left:601px;
  top:237px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6270 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u6271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6271 {
  position:absolute;
  left:717px;
  top:319px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6272 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6273 {
  position:absolute;
  left:356px;
  top:350px;
  width:0px;
  height:0px;
}
#u6273_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:145px;
  height:8px;
}
#u6273_seg1 {
  position:absolute;
  left:127px;
  top:-10px;
  width:21px;
  height:20px;
}
#u6274 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6275 {
  position:absolute;
  left:658px;
  top:350px;
  width:0px;
  height:0px;
}
#u6275_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:155px;
  height:8px;
}
#u6275_seg1 {
  position:absolute;
  left:137px;
  top:-10px;
  width:21px;
  height:20px;
}
#u6276 {
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6277 {
  position:absolute;
  left:578px;
  top:301px;
  width:0px;
  height:0px;
}
#u6277_seg0 {
  position:absolute;
  left:-4px;
  top:-123px;
  width:8px;
  height:123px;
}
#u6277_seg1 {
  position:absolute;
  left:-4px;
  top:-123px;
  width:815px;
  height:8px;
}
#u6277_seg2 {
  position:absolute;
  left:803px;
  top:-123px;
  width:8px;
  height:133px;
}
#u6277_seg3 {
  position:absolute;
  left:797px;
  top:-4px;
  width:20px;
  height:21px;
}
#u6278 {
  position:absolute;
  left:358px;
  top:-126px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6279 {
  position:absolute;
  left:938px;
  top:350px;
  width:0px;
  height:0px;
}
#u6279_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u6279_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:21px;
  height:20px;
}
#u6280 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6281 {
  position:absolute;
  left:1196px;
  top:350px;
  width:0px;
  height:0px;
}
#u6281_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:128px;
  height:8px;
}
#u6281_seg1 {
  position:absolute;
  left:110px;
  top:-10px;
  width:21px;
  height:20px;
}
#u6282 {
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6283 {
  position:absolute;
  left:1124px;
  top:306px;
  width:0px;
  height:0px;
}
#u6283_seg0 {
  position:absolute;
  left:-4px;
  top:-46px;
  width:8px;
  height:46px;
}
#u6283_seg1 {
  position:absolute;
  left:-254px;
  top:-46px;
  width:258px;
  height:8px;
}
#u6283_seg2 {
  position:absolute;
  left:-254px;
  top:-46px;
  width:8px;
  height:51px;
}
#u6283_seg3 {
  position:absolute;
  left:-260px;
  top:-9px;
  width:20px;
  height:21px;
}
#u6284 {
  position:absolute;
  left:-178px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:87px;
}
#u6285 {
  position:absolute;
  left:801px;
  top:697px;
  width:145px;
  height:87px;
  font-size:15px;
}
#u6286 {
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u6287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6287 {
  position:absolute;
  left:955px;
  top:659px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u6288 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6289 {
  position:absolute;
  left:891px;
  top:811px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u6290 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6291 {
  position:absolute;
  left:874px;
  top:631px;
  width:0px;
  height:0px;
}
#u6291_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u6291_seg1 {
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:21px;
}
#u6292 {
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6293 {
  position:absolute;
  left:874px;
  top:784px;
  width:0px;
  height:0px;
}
#u6293_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:86px;
}
#u6293_seg1 {
  position:absolute;
  left:-10px;
  top:68px;
  width:20px;
  height:21px;
}
#u6294 {
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6295 {
  position:absolute;
  left:946px;
  top:741px;
  width:0px;
  height:0px;
}
#u6295_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u6295_seg1 {
  position:absolute;
  left:40px;
  top:-152px;
  width:8px;
  height:156px;
}
#u6295_seg2 {
  position:absolute;
  left:-8px;
  top:-152px;
  width:56px;
  height:8px;
}
#u6295_seg3 {
  position:absolute;
  left:-15px;
  top:-158px;
  width:21px;
  height:20px;
}
#u6296 {
  position:absolute;
  left:-6px;
  top:-86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:104px;
}
#u6297 {
  position:absolute;
  left:787px;
  top:1016px;
  width:173px;
  height:104px;
  font-size:14px;
}
#u6298 {
  position:absolute;
  left:2px;
  top:43px;
  width:169px;
  word-wrap:break-word;
}
#u6299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6299 {
  position:absolute;
  left:958px;
  top:977px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u6300 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6301 {
  position:absolute;
  left:874px;
  top:943px;
  width:0px;
  height:0px;
}
#u6301_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u6301_seg1 {
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:21px;
}
#u6302 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6303 {
  position:absolute;
  left:960px;
  top:1068px;
  width:0px;
  height:0px;
}
#u6303_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u6303_seg1 {
  position:absolute;
  left:26px;
  top:-167px;
  width:8px;
  height:171px;
}
#u6303_seg2 {
  position:absolute;
  left:-22px;
  top:-167px;
  width:56px;
  height:8px;
}
#u6303_seg3 {
  position:absolute;
  left:-29px;
  top:-173px;
  width:21px;
  height:20px;
}
#u6304 {
  position:absolute;
  left:-20px;
  top:-100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6305 {
  position:absolute;
  left:731px;
  top:369px;
  width:0px;
  height:0px;
}
#u6305_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u6305_seg1 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:83px;
  height:8px;
}
#u6305_seg2 {
  position:absolute;
  left:65px;
  top:-8px;
  width:21px;
  height:20px;
}
#u6306 {
  position:absolute;
  left:-12px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6307 {
  position:absolute;
  left:795px;
  top:1148px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u6308 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6309 {
  position:absolute;
  left:874px;
  top:1120px;
  width:0px;
  height:0px;
}
#u6309_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u6309_seg1 {
  position:absolute;
  left:-147px;
  top:51px;
  width:151px;
  height:8px;
}
#u6309_seg2 {
  position:absolute;
  left:-147px;
  top:-751px;
  width:8px;
  height:810px;
}
#u6309_seg3 {
  position:absolute;
  left:-153px;
  top:-758px;
  width:20px;
  height:21px;
}
#u6310 {
  position:absolute;
  left:-193px;
  top:-257px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6311 {
  position:absolute;
  left:276px;
  top:1419px;
  width:0px;
  height:0px;
}
#u6311_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u6311_seg1 {
  position:absolute;
  left:-4px;
  top:27px;
  width:1117px;
  height:8px;
}
#u6311_seg2 {
  position:absolute;
  left:1105px;
  top:-1031px;
  width:8px;
  height:1066px;
}
#u6311_seg3 {
  position:absolute;
  left:1099px;
  top:-1038px;
  width:20px;
  height:21px;
}
#u6312 {
  position:absolute;
  left:1020px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6313 {
  position:absolute;
  left:573px;
  top:1536px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6314 {
  position:absolute;
  left:1517px;
  top:621px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
