body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2643 {
  position:absolute;
  left:21px;
  top:20px;
  width:375px;
  height:667px;
}
#u2644 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(57, 58, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2646 {
  position:absolute;
  left:22px;
  top:20px;
  width:373px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u2647 {
  position:absolute;
  left:2px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u2648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u2648 {
  position:absolute;
  left:21px;
  top:39px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u2649 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u2650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u2650 {
  position:absolute;
  left:36px;
  top:52px;
  width:10px;
  height:18px;
}
#u2651 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2652 {
  position:absolute;
  left:49px;
  top:53px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u2653 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:5px;
}
#u2654 {
  position:absolute;
  left:363px;
  top:59px;
  width:18px;
  height:5px;
}
#u2655 {
  position:absolute;
  left:2px;
  top:-6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#515151;
}
#u2656 {
  position:absolute;
  left:169px;
  top:259px;
  width:79px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#515151;
}
#u2657 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u2658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u2658 {
  position:absolute;
  left:90px;
  top:329px;
  width:239px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u2659 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u2660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:69px;
}
#u2660 {
  position:absolute;
  left:163px;
  top:309px;
  width:67px;
  height:69px;
  font-size:60px;
  color:#FF0000;
}
#u2661 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u2662 {
  position:absolute;
  left:169px;
  top:129px;
  width:80px;
  height:80px;
  font-size:15px;
}
#u2663 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u2664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#5E5E5E;
}
#u2664 {
  position:absolute;
  left:64px;
  top:393px;
  width:289px;
  height:57px;
  font-size:16px;
  color:#5E5E5E;
}
#u2665 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u2666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u2666 {
  position:absolute;
  left:80px;
  top:647px;
  width:248px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u2667 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u2668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u2668 {
  position:absolute;
  left:149px;
  top:501px;
  width:110px;
  height:110px;
  font-size:18px;
}
#u2669 {
  position:absolute;
  left:2px;
  top:44px;
  width:106px;
  word-wrap:break-word;
}
