body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7792 {
  position:absolute;
  left:21px;
  top:77px;
  width:375px;
  height:1103px;
}
#u7793 {
  position:absolute;
  left:2px;
  top:544px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7794 {
  position:absolute;
  left:30px;
  top:601px;
  width:296px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u7795 {
  position:absolute;
  left:2px;
  top:12px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#515151;
}
#u7796 {
  position:absolute;
  left:331px;
  top:601px;
  width:59px;
  height:40px;
  font-size:16px;
  color:#515151;
}
#u7797 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u7798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u7798 {
  position:absolute;
  left:39px;
  top:613px;
  width:115px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
}
#u7799 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u7800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7800 {
  position:absolute;
  left:156px;
  top:613px;
  width:140px;
  height:16px;
  font-size:13px;
}
#u7801 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u7802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u7802 {
  position:absolute;
  left:306px;
  top:614px;
  width:9px;
  height:15px;
}
#u7803 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7804 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(57, 58, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u7805 {
  position:absolute;
  left:22px;
  top:20px;
  width:373px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u7806 {
  position:absolute;
  left:2px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u7807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u7807 {
  position:absolute;
  left:21px;
  top:39px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u7808 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u7809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u7809 {
  position:absolute;
  left:36px;
  top:52px;
  width:10px;
  height:18px;
}
#u7810 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7811 {
  position:absolute;
  left:49px;
  top:53px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u7812 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u7813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:5px;
}
#u7813 {
  position:absolute;
  left:363px;
  top:59px;
  width:18px;
  height:5px;
}
#u7814 {
  position:absolute;
  left:2px;
  top:-6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:272px;
}
#u7815 {
  position:absolute;
  left:22px;
  top:317px;
  width:373px;
  height:272px;
}
#u7816 {
  position:absolute;
  left:2px;
  top:128px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7817 {
  position:absolute;
  left:21px;
  top:316px;
  width:375px;
  height:35px;
}
#u7818 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u7819 {
  position:absolute;
  left:23px;
  top:326px;
  width:93px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u7820 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u7821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u7821 {
  position:absolute;
  left:116px;
  top:326px;
  width:93px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u7822 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u7823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u7823 {
  position:absolute;
  left:209px;
  top:326px;
  width:93px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u7824 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u7825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u7825 {
  position:absolute;
  left:302px;
  top:326px;
  width:93px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u7826 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u7827_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:83px;
  height:5px;
}
#u7827 {
  position:absolute;
  left:30px;
  top:348px;
  width:80px;
  height:2px;
}
#u7828 {
  position:absolute;
  left:2px;
  top:-7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7829 {
  position:absolute;
  left:21px;
  top:225px;
  width:375px;
  height:92px;
}
#u7830 {
  position:absolute;
  left:2px;
  top:38px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u7831 {
  position:absolute;
  left:194px;
  top:266px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7832 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u7833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u7833 {
  position:absolute;
  left:235px;
  top:266px;
  width:50px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u7834 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u7835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u7835 {
  position:absolute;
  left:295px;
  top:266px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7836 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u7837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u7837 {
  position:absolute;
  left:336px;
  top:266px;
  width:50px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u7838 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u7839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u7839 {
  position:absolute;
  left:194px;
  top:292px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7840 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u7841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u7841 {
  position:absolute;
  left:235px;
  top:292px;
  width:50px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u7842 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u7843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u7843 {
  position:absolute;
  left:295px;
  top:292px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7844 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u7845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u7845 {
  position:absolute;
  left:336px;
  top:292px;
  width:50px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u7846 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u7847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#F55151;
  text-align:center;
}
#u7847 {
  position:absolute;
  left:36px;
  top:266px;
  width:145px;
  height:41px;
  font-size:22px;
  color:#F55151;
  text-align:center;
}
#u7848 {
  position:absolute;
  left:0px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u7849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u7849 {
  position:absolute;
  left:20px;
  top:236px;
  width:145px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u7850 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u7851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7851 {
  position:absolute;
  left:139px;
  top:238px;
  width:16px;
  height:16px;
}
#u7852 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u7853 {
  position:absolute;
  left:127px;
  top:281px;
  width:33px;
  height:16px;
  font-size:14px;
  color:#949494;
  text-align:center;
}
#u7854 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u7855 {
  position:absolute;
  left:295px;
  top:236px;
  width:101px;
  height:20px;
  font-size:12px;
  color:#BCBCBC;
}
#u7856 {
  position:absolute;
  left:2px;
  top:3px;
  width:97px;
  word-wrap:break-word;
}
#u7857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7857 {
  position:absolute;
  left:21px;
  top:1131px;
  width:375px;
  height:49px;
}
#u7858 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u7860 {
  position:absolute;
  left:312px;
  top:1162px;
  width:75px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u7861 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7862 {
  position:absolute;
  left:336px;
  top:1136px;
  width:24px;
  height:24px;
}
#u7863 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#6B6B6B;
}
#u7864 {
  position:absolute;
  left:21px;
  top:652px;
  width:375px;
  height:38px;
  font-size:18px;
  color:#6B6B6B;
}
#u7865 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u7866 {
  position:absolute;
  left:36px;
  top:663px;
  width:115px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u7867 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u7868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u7868 {
  position:absolute;
  left:151px;
  top:663px;
  width:115px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u7869 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u7870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u7870 {
  position:absolute;
  left:266px;
  top:663px;
  width:115px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u7871 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u7872_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:5px;
}
#u7872 {
  position:absolute;
  left:51px;
  top:687px;
  width:85px;
  height:2px;
}
#u7873 {
  position:absolute;
  left:2px;
  top:-7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u7875 {
  position:absolute;
  left:28px;
  top:1162px;
  width:75px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u7876 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7877 {
  position:absolute;
  left:55px;
  top:1140px;
  width:20px;
  height:20px;
}
#u7878 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u7880 {
  position:absolute;
  left:123px;
  top:1162px;
  width:75px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u7881 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7882 {
  position:absolute;
  left:151px;
  top:1140px;
  width:20px;
  height:20px;
}
#u7883 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u7885 {
  position:absolute;
  left:217px;
  top:1162px;
  width:75px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u7886 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7887 {
  position:absolute;
  left:245px;
  top:1140px;
  width:20px;
  height:20px;
}
#u7888 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.137254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7889 {
  position:absolute;
  left:21px;
  top:1131px;
  width:90px;
  height:49px;
}
#u7890 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7891 {
  position:absolute;
  left:21px;
  top:165px;
  width:375px;
  height:51px;
  color:#FFFFFF;
}
#u7892 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u7893 {
  position:absolute;
  left:206px;
  top:178px;
  width:1px;
  height:27px;
}
#u7894 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7895 {
  position:absolute;
  left:365px;
  top:86px;
  width:16px;
  height:16px;
}
#u7896 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#6B6B6B;
}
#u7897 {
  position:absolute;
  left:21px;
  top:82px;
  width:375px;
  height:35px;
  font-size:18px;
  color:#6B6B6B;
}
#u7898 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7899 {
  position:absolute;
  left:33px;
  top:91px;
  width:365px;
  height:16px;
}
#u7900 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u7901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7901 {
  position:absolute;
  left:367px;
  top:91px;
  width:16px;
  height:16px;
}
#u7902 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#6B6B6B;
}
#u7903 {
  position:absolute;
  left:268px;
  top:183px;
  width:85px;
  height:17px;
  font-size:15px;
  color:#6B6B6B;
}
#u7904 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u7905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7905 {
  position:absolute;
  left:21px;
  top:116px;
  width:375px;
  height:50px;
  color:#FFFFFF;
}
#u7906 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u7907 {
  position:absolute;
  left:52px;
  top:126px;
  width:30px;
  height:30px;
}
#u7908 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#6B6B6B;
}
#u7909 {
  position:absolute;
  left:99px;
  top:132px;
  width:99px;
  height:17px;
  font-size:15px;
  color:#6B6B6B;
}
#u7910 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u7911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#6B6B6B;
}
#u7911 {
  position:absolute;
  left:264px;
  top:132px;
  width:99px;
  height:17px;
  font-size:15px;
  color:#6B6B6B;
}
#u7912 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u7913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#6B6B6B;
}
#u7913 {
  position:absolute;
  left:66px;
  top:183px;
  width:108px;
  height:17px;
  font-size:15px;
  color:#6B6B6B;
}
#u7914 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u7915 {
  position:absolute;
  left:312px;
  top:1293px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u7917 {
  position:absolute;
  left:380px;
  top:609px;
  width:149px;
  height:1px;
}
#u7918 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u7919 {
  position:absolute;
  left:534px;
  top:599px;
  width:106px;
  height:17px;
  font-size:15px;
}
#u7920 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u7921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u7921 {
  position:absolute;
  left:1023px;
  top:591px;
  width:283px;
  height:41px;
  font-size:15px;
}
#u7922 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  white-space:nowrap;
}
#u7923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u7924 {
  position:absolute;
  left:302px;
  top:635px;
  width:149px;
  height:1px;
}
#u7925 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u7926 {
  position:absolute;
  left:456px;
  top:625px;
  width:191px;
  height:17px;
  font-size:15px;
}
#u7927 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u7928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FF0000;
}
#u7928 {
  position:absolute;
  left:456px;
  top:34px;
  width:106px;
  height:17px;
  font-size:15px;
  color:#FF0000;
}
#u7929 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u7930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#0066FF;
}
#u7930 {
  position:absolute;
  left:632px;
  top:34px;
  width:106px;
  height:17px;
  font-size:15px;
  color:#0066FF;
}
#u7931 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u7932 {
  position:absolute;
  left:1540px;
  top:489px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7933 {
  position:absolute;
  left:660px;
  top:587px;
  width:333px;
  height:211px;
}
#u7934 {
  position:absolute;
  left:2px;
  top:98px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
#u7935 {
  position:absolute;
  left:660px;
  top:746px;
  width:333px;
  height:1px;
}
#u7936 {
  position:absolute;
  left:2px;
  top:-8px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u7937 {
  position:absolute;
  left:826px;
  top:749px;
  width:1px;
  height:44px;
}
#u7938 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0099FF;
  text-align:center;
}
#u7939 {
  position:absolute;
  left:707px;
  top:760px;
  width:70px;
  height:22px;
  font-size:18px;
  color:#0099FF;
  text-align:center;
}
#u7940 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u7941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0099FF;
  text-align:center;
}
#u7941 {
  position:absolute;
  left:874px;
  top:761px;
  width:70px;
  height:22px;
  font-size:18px;
  color:#0099FF;
  text-align:center;
}
#u7942 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u7943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7943 {
  position:absolute;
  left:681px;
  top:628px;
  width:302px;
  height:55px;
  font-size:20px;
}
#u7944 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u7945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7945 {
  position:absolute;
  left:683px;
  top:698px;
  width:278px;
  height:19px;
  font-size:16px;
}
#u7946 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u7947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u7947 {
  position:absolute;
  left:1023px;
  top:668px;
  width:91px;
  height:41px;
  font-size:15px;
}
#u7948 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u7949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#6B6B6B;
}
#u7950 {
  position:absolute;
  left:21px;
  top:697px;
  width:375px;
  height:402px;
  font-size:18px;
  color:#6B6B6B;
}
#u7951 {
  position:absolute;
  left:2px;
  top:193px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:103px;
}
#u7952 {
  position:absolute;
  left:208px;
  top:977px;
  width:1px;
  height:102px;
}
#u7953 {
  position:absolute;
  left:2px;
  top:43px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#F55151;
  text-align:center;
}
#u7954 {
  position:absolute;
  left:36px;
  top:977px;
  width:173px;
  height:22px;
  font-size:18px;
  color:#F55151;
  text-align:center;
}
#u7955 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u7956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00CC66;
  text-align:center;
}
#u7956 {
  position:absolute;
  left:209px;
  top:977px;
  width:173px;
  height:22px;
  font-size:18px;
  color:#00CC66;
  text-align:center;
}
#u7957 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u7958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u7958 {
  position:absolute;
  left:36px;
  top:961px;
  width:345px;
  height:1px;
}
#u7959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#F55151;
  text-align:center;
}
#u7960 {
  position:absolute;
  left:36px;
  top:1014px;
  width:173px;
  height:28px;
  font-size:24px;
  color:#F55151;
  text-align:center;
}
#u7961 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u7962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#00CC66;
  text-align:center;
}
#u7962 {
  position:absolute;
  left:209px;
  top:1014px;
  width:173px;
  height:28px;
  font-size:24px;
  color:#00CC66;
  text-align:center;
}
#u7963 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u7964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u7964 {
  position:absolute;
  left:180px;
  top:1020px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u7965 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u7966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u7966 {
  position:absolute;
  left:367px;
  top:1020px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u7967 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u7968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#F55151;
  text-align:center;
}
#u7968 {
  position:absolute;
  left:36px;
  top:1051px;
  width:173px;
  height:28px;
  font-size:24px;
  color:#F55151;
  text-align:center;
}
#u7969 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u7970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#00CC66;
  text-align:center;
}
#u7970 {
  position:absolute;
  left:209px;
  top:1051px;
  width:173px;
  height:28px;
  font-size:24px;
  color:#00CC66;
  text-align:center;
}
#u7971 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u7972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u7972 {
  position:absolute;
  left:180px;
  top:1057px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u7973 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u7974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u7974 {
  position:absolute;
  left:367px;
  top:1057px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u7975 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u7976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u7976 {
  position:absolute;
  left:73px;
  top:911px;
  width:100px;
  height:35px;
  color:#949494;
}
#u7977 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u7978 {
  position:absolute;
  left:246px;
  top:911px;
  width:100px;
  height:35px;
  color:#949494;
}
#u7979 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u7980 {
  position:absolute;
  left:121px;
  top:718px;
  width:170px;
  height:170px;
}
#u7981 {
  position:absolute;
  left:2px;
  top:77px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u7982 {
  position:absolute;
  left:126px;
  top:718px;
  width:170px;
  height:170px;
}
#u7983 {
  position:absolute;
  left:77px;
  top:74px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7984 {
  position:absolute;
  left:142px;
  top:791px;
  width:64px;
  height:28px;
  color:#FFFFFF;
}
#u7985 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u7986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u7986 {
  position:absolute;
  left:212px;
  top:791px;
  width:65px;
  height:28px;
  color:#FFFFFF;
  text-align:right;
}
#u7987 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u7988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u7988 {
  position:absolute;
  left:102px;
  top:805px;
  width:20px;
  height:1px;
}
#u7989 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F55151;
  text-align:center;
}
#u7990 {
  position:absolute;
  left:43px;
  top:798px;
  width:53px;
  height:15px;
  font-size:12px;
  color:#F55151;
  text-align:center;
}
#u7991 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u7992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u7992 {
  position:absolute;
  left:295px;
  top:805px;
  width:20px;
  height:1px;
}
#u7993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00CC66;
  text-align:center;
}
#u7994 {
  position:absolute;
  left:319px;
  top:798px;
  width:55px;
  height:15px;
  font-size:12px;
  color:#00CC66;
  text-align:center;
}
#u7995 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u7996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1780px;
}
#u7996 {
  position:absolute;
  left:1120px;
  top:668px;
  width:300px;
  height:1780px;
  font-size:17px;
}
#u7997 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u7998 {
  position:absolute;
  left:63px;
  top:428px;
  width:298px;
  height:1px;
  color:#0099FF;
}
#u7999 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u8000 {
  position:absolute;
  left:264px;
  top:409px;
  width:97px;
  height:16px;
  color:#0099FF;
  text-align:right;
}
#u8001 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u8002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:2px;
}
#u8003 {
  position:absolute;
  left:361px;
  top:422px;
  width:168px;
  height:1px;
}
#u8004 {
  position:absolute;
  left:2px;
  top:-8px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:center;
}
#u8005 {
  position:absolute;
  left:535px;
  top:412px;
  width:46px;
  height:17px;
  font-size:15px;
  text-align:center;
}
#u8006 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
