body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:961px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:280px;
}
#u1958 {
  position:absolute;
  left:31px;
  top:32px;
  width:930px;
  height:280px;
  font-size:17px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  word-wrap:break-word;
}
