body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1782px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10987 {
  position:absolute;
  left:21px;
  top:20px;
  width:375px;
  height:667px;
}
#u10988 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(57, 58, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u10990 {
  position:absolute;
  left:22px;
  top:20px;
  width:373px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u10991 {
  position:absolute;
  left:2px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u10992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u10992 {
  position:absolute;
  left:21px;
  top:39px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u10993 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u10994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u10994 {
  position:absolute;
  left:36px;
  top:52px;
  width:10px;
  height:18px;
}
#u10995 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10996 {
  position:absolute;
  left:49px;
  top:53px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u10997 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u10998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:5px;
}
#u10998 {
  position:absolute;
  left:363px;
  top:59px;
  width:18px;
  height:5px;
}
#u10999 {
  position:absolute;
  left:2px;
  top:-6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11000 {
  position:absolute;
  left:22px;
  top:94px;
  width:373px;
  height:60px;
}
#u11001 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u11002 {
  position:absolute;
  left:42px;
  top:105px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u11003 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u11004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11004 {
  position:absolute;
  left:70px;
  top:105px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u11005 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11006 {
  position:absolute;
  left:298px;
  top:114px;
  width:40px;
  height:19px;
  font-size:16px;
}
#u11007 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u11008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u11008 {
  position:absolute;
  left:42px;
  top:131px;
  width:92px;
  height:16px;
  color:#949494;
}
#u11009 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u11010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11010 {
  position:absolute;
  left:357px;
  top:115px;
  width:19px;
  height:19px;
}
#u11011 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:5px;
}
#u11012 {
  position:absolute;
  left:362px;
  top:122px;
  width:9px;
  height:5px;
}
#u11013 {
  position:absolute;
  left:2px;
  top:-6px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11014 {
  position:absolute;
  left:792px;
  top:20px;
  width:375px;
  height:667px;
}
#u11015 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(57, 58, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u11017 {
  position:absolute;
  left:793px;
  top:20px;
  width:373px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u11018 {
  position:absolute;
  left:2px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u11019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u11019 {
  position:absolute;
  left:792px;
  top:39px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u11020 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u11021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u11021 {
  position:absolute;
  left:807px;
  top:52px;
  width:10px;
  height:18px;
}
#u11022 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11023 {
  position:absolute;
  left:820px;
  top:53px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u11024 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u11025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:5px;
}
#u11025 {
  position:absolute;
  left:1134px;
  top:59px;
  width:18px;
  height:5px;
}
#u11026 {
  position:absolute;
  left:2px;
  top:-6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11027 {
  position:absolute;
  left:793px;
  top:94px;
  width:373px;
  height:60px;
}
#u11028 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11029 {
  position:absolute;
  left:1127px;
  top:115px;
  width:19px;
  height:19px;
}
#u11030 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:5px;
}
#u11031 {
  position:absolute;
  left:1132px;
  top:122px;
  width:9px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u11032 {
  position:absolute;
  left:2px;
  top:-6px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:192px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11033 {
  position:absolute;
  left:793px;
  top:154px;
  width:373px;
  height:192px;
}
#u11034 {
  position:absolute;
  left:2px;
  top:88px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u11035 {
  position:absolute;
  left:875px;
  top:170px;
  width:300px;
  height:160px;
  line-height:20px;
}
#u11036 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u11037 {
  position:absolute;
  left:814px;
  top:105px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u11038 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u11039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11039 {
  position:absolute;
  left:842px;
  top:105px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u11040 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11041 {
  position:absolute;
  left:1070px;
  top:114px;
  width:40px;
  height:19px;
  font-size:16px;
}
#u11042 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u11043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u11043 {
  position:absolute;
  left:814px;
  top:131px;
  width:139px;
  height:16px;
  color:#949494;
}
#u11044 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u11045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11045 {
  position:absolute;
  left:1221px;
  top:20px;
  width:375px;
  height:667px;
}
#u11046 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(57, 58, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u11048 {
  position:absolute;
  left:1222px;
  top:20px;
  width:373px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u11049 {
  position:absolute;
  left:2px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u11050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u11050 {
  position:absolute;
  left:1221px;
  top:39px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u11051 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u11052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u11052 {
  position:absolute;
  left:1236px;
  top:52px;
  width:10px;
  height:18px;
}
#u11053 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11054 {
  position:absolute;
  left:1249px;
  top:53px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u11055 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u11056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:5px;
}
#u11056 {
  position:absolute;
  left:1563px;
  top:59px;
  width:18px;
  height:5px;
}
#u11057 {
  position:absolute;
  left:2px;
  top:-6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:129px;
}
#u11058 {
  position:absolute;
  left:1345px;
  top:175px;
  width:128px;
  height:128px;
}
#u11059 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u11060 {
  position:absolute;
  left:1342px;
  top:345px;
  width:138px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u11061 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u11062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:2px;
}
#u11063 {
  position:absolute;
  left:347px;
  top:104px;
  width:122px;
  height:1px;
}
#u11064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u11065 {
  position:absolute;
  left:474px;
  top:96px;
  width:76px;
  height:17px;
  font-size:15px;
}
#u11066 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u11067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:2px;
}
#u11068 {
  position:absolute;
  left:363px;
  top:271px;
  width:106px;
  height:1px;
}
#u11069 {
  position:absolute;
  left:2px;
  top:-8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u11070 {
  position:absolute;
  left:474px;
  top:263px;
  width:297px;
  height:17px;
  font-size:15px;
}
#u11071 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u11072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FF0000;
}
#u11072 {
  position:absolute;
  left:474px;
  top:34px;
  width:106px;
  height:17px;
  font-size:15px;
  color:#FF0000;
}
#u11073 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u11074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#0066FF;
}
#u11074 {
  position:absolute;
  left:650px;
  top:34px;
  width:106px;
  height:17px;
  font-size:15px;
  color:#0066FF;
}
#u11075 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u11076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u11076 {
  position:absolute;
  left:614px;
  top:124px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u11077 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u11078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u11078 {
  position:absolute;
  left:513px;
  top:125px;
  width:91px;
  height:17px;
  font-size:15px;
}
#u11079 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u11080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u11080 {
  position:absolute;
  left:614px;
  top:159px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u11081 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u11082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u11082 {
  position:absolute;
  left:513px;
  top:160px;
  width:91px;
  height:17px;
  font-size:15px;
}
#u11083 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u11084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u11084 {
  position:absolute;
  left:513px;
  top:196px;
  width:241px;
  height:17px;
  font-size:15px;
}
#u11085 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u11086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:2px;
}
#u11087 {
  position:absolute;
  left:295px;
  top:202px;
  width:138px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u11088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11089 {
  position:absolute;
  left:190px;
  top:725px;
  width:33px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11090 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u11091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11091 {
  position:absolute;
  left:963px;
  top:725px;
  width:33px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11092 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u11093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11093 {
  position:absolute;
  left:1395px;
  top:725px;
  width:33px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11094 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u11095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u11095 {
  position:absolute;
  left:513px;
  top:223px;
  width:166px;
  height:17px;
  font-size:15px;
}
#u11096 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u11097 {
  position:absolute;
  left:1682px;
  top:282px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
